* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;

    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgb(204, 232, 255), rgb(163, 146, 241));
    flex-direction: column;
}

.all {
    width: 100vw;

    display: flex;

    gap: 5rem;
}

.color {
    width: 3rem;
    height: 3rem;
    border: none;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}

.color::-webkit-color-swatch{
    border-radius: 1rem;
    border: none;
}

.color::-moz-color-swatch {
    border-radius: 1rem;
    border: none;
}

.primary,
.secondary {
    display: flex;
    flex-direction: column;
}

.grid-container {
    width: 34rem;
    height: 34rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square {
    flex-grow: 1;
    background-color: white;
    border: 1px solid black;
}

.div-container {
    display: flex;
    flex-grow: 1;
}

.number {
    all:unset;
    width: 4rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    appearance: none;
    background-color: white;
    padding: 0 0.25rem;
}

.grid-rows,
.grid-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.color-controls,
.grid-controls {
    margin: 0 auto;
}

.color-controls {
    left: 1rem;
}

.grid-controls {
    right: 1rem;
}

header,
footer {
    position: fixed;

    padding: 0.4rem 0;

    width: 100vw;

    background-color: black;
    color: white;
    font-size: 1rem;

    text-align: center;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

